/*公共部分*/
* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	color: #424242;
	text-decoration: none;
	-webkit-user-select: none;
	user-select: none
}

body {
	background: #FFF
}

a {
	outline: 0;
	text-decoration: none;
	font-family: "微软雅黑"
}

li {
	list-style-type: none
}

div ul span li a dl dt dd {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-size: 100%
}
/*头部*/
#body_mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	background: rgba(0, 0, 0, .3)
}

#head_box {
	width: 100%;
	height: 40px;
	margin-top: 0;
	background: #333
}

#head_wrap {
	width: 1226px;
	height: 40px;
	margin: 0 auto
}

#head_nav {
	width: auto;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 0
}

#head_right {
	width: auto;
	height: 40px;
	line-height: 40px;
	float: right;
	margin-right: 0
}

#head_landing {
	width: auto;
	height: 40px;
	float: left;
	margin-right: 15px
}

#head_car {
	width: 100px;
	height: 40px;
	float: left;
	text-align: center;
	background: #424242;
	position: relative
}

#car_content {
	position: absolute;
	z-index: 999;
	width: 300px;
	height: 0;
	top: 40px;
	left: -201px;
	overflow: hidden;
	background: #FFF;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	border: solid #B0B0B0;
	border-width: 0
}

#head_car:hover #car_content {
	height: 100px
}

#head_box span,
.head_nav_a {
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	cursor: pointer;
	margin-left: 5px
}

.head_car_text {
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	cursor: pointer
}

.car_text {
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	line-height: 100px
}

.head_nav_a:hover {
	color: #FFF
}
/*地区弹框*/
#region_box {
	width: 650px;
	height: 480px;
	position: absolute;
	z-index: 1200;
	top: -480px;
	opacity: 0;
	background: #FFF;
	box-shadow: 0 0 10px #424242;
	left: calc(100%/2 - 325px);
	left: -webkit-calc(100%/2 - 325px);
	left: -moz-calc(100%/2 - 325px);
	transition: all 1s;
	transition: all 1s
}

#region_banner {
	width: 650px;
	height: 60px;
	line-height: 60px;
	background: #F0F0F0
}

#region_banner a:first-child {
	font-size: 20px;
	color: #333;
	margin-left: 15px
}

.close_region_but,
.close_vido_div {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: #333;
	text-align: center;
	float: right;
	margin-right: 20px;
	margin-top: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	cursor: pointer
}

.close_region_but:hover,
.close_vido_div:hover {
	background: #ff6700;
	color: #FFF
}

#region_title {
	width: auto;
	height: 80px;
	margin: 30px auto
}

#region_title p:first-child {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: #424242
}

#region_title p:last-child {
	font-size: 17px;
	text-align: center;
	color: #424242
}

#region_content {
	width: 510px;
	height: auto;
	margin: 0 auto
}

#region_content ul li {
	width: 150px;
	height: 45px;
	background: #E0E0E0;
	line-height: 45px;
	font-size: 15px;
	color: #9D9D9D;
	text-align: center;
	margin: 10px;
	float: left;
	cursor: pointer
}

#region_content ul li:hover {
	color: #FFF;
	background: #FF6700
}

/*大功能区*/
#main_head_box {/*大功能区大框*/
	width: 100%;
	position: relative
}

/*导航区*/
#menu_wrap {/*导航区框*/
	width: 1226px;
	height: 100px;
	margin: 0 auto
}

#menu_logo {/*放logo的div*/
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	background: #FF6700;
	float: left;
	margin-top: 20px
}

#menu_nav {/*放列表的框*/
	width: auto;
	height: 100px;
	float: left;
	margin-left: 200px
}

#menu_nav ul li {/*列表li*/
	width: auto;
	height: 100px;
	float: left;
	line-height: 100px;
	text-align: center;
	padding: 0 15px;
	cursor: pointer
}

#menu_nav ul li:hover {/*列表li鼠标移入效果*/
	color: #FF6700
}

#find_wrap {/*放搜索框的div*/
	float: right;
	width: 302px;
	height: 50px;
	margin-right: 0;
	line-height: 50px;
	margin-top: 25px;
	box-sizing: border-box;
	border: 1px solid #F0F0F0
}

#find_bar {/*搜索框左侧框*/
	width: 245px;
	height: 48px;
	float: left;
	position: relative
}

#find_input {/*搜索框左侧框的input*/
	width: 224px;
	height: 28px;
	padding: 10px;
	border: 0;
	float: left;
	outline: 0;
}

#find_bar_word {/*搜索框左侧框的默认文字框*/
	width: auto;
	height: 20px;
	line-height: 20px;
	position: absolute;
	top: 15px;
	right: 0
}

#find_bar_word a {/*搜索框左侧框的默认文字样式*/
	width: 15px;
	height: 8px;
	font-size: 8px;
	color: #9D9D9D;
	background: #E0E0E0;
	margin-right: 5px;
	cursor: pointer
}

#find_bar_word a:hover,
#find_but:hover {
	background: #FF6700;
	color: #FFF
}

#find_but {/*搜索框右侧框及其文字样式*/
	width: 53px;
	height: 48px;
	float: left;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
	color: #424242;
	cursor: pointer;
	border-left: 1px solid #F0F0F0
}

#find_wrap:hover,
#find_wrap:hover #find_but {
	border-color: #d0d0d0
}

#find_hot {/*下拉列表框*/
	position: absolute;
	width: 245px;
	top: 48px;
	left: -1px;
	background: #FFF;
	display: none;
	z-index: 800;
	border: 1px solid #FF6700
}

#find_hot ul li {/*下拉列表框对应li样式*/
	width: 245px;
	height: 30px;
	font-size: 12px;
	color: #424242;
	line-height: 30px;
	cursor: pointer
}

#find_hot ul li:hover {/*下拉列表框对应li样式鼠标移入效果*/
	background: #FCFCFC
}

#find_hot ul li a:first-child {/*下拉列表框对应li里面的第一个a的样式*/
	margin-left: 15px
}

#find_hot ul li a:last-child {/*下拉列表框对应li里面的第二个a的样式*/
	color: #9D9D9D;
	float: right;
	margin-right: 15px
}

/*导航区隐藏框*/
#menu_content_bg {/*导航区隐藏框*/
	width: 100%;
	height: 0;
	overflow: hidden;
	position: absolute;
	top: 100px;
	z-index: 700;
	background: #FFF;
	box-shadow: 1px 2px 5px #D0D0D0;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s
}

#menu_content_wrap {/*导航区隐藏框里面包的一个大的div*/
	width: 1200px;
	margin: 0 auto;
	padding-left: 26px;
	position: relative
}

#menu_content_wrap ul {/*导航区隐藏框里面的整体大ul*/
	width: 100%;
	height: auto;
	position: absolute;
	top: 0
}

#menu_content_wrap li {/*导航区隐藏框里面的ul下的li（每次展开都是一个li）*/
	width: 100%;
	height: 230px
}

.menu_content {/*li里面的每个产品div*/
	width: 160px;
	float: left;
	margin-top: 30px;
	cursor: pointer
}

.menu_content_line {/*li里面的每个产品div的 右边分割线*/
	width: 0;
	height: 100px;
	float: left;
	margin: 30px 20px;
	border-left: 1px solid #D0D0D0
}

.menu_content_tit {/*产品介绍大文字*/
	font-size: 13px;
	text-align: center;
	margin-top: 20px;
}

.menu_content_price {/*产品介绍价钱*/
	font-size: 12px;
	color: #FF6700;
	text-align: center;
	margin-top: 5px
}

/*侧边栏菜单+轮播图*/
#big_banner_wrap {/*放侧边菜单和大轮播波的框*/
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	position: relative
}

/*轮播图*/
#big_banner_pic_wrap {/*放图片的框*/
	width: 1226px;
	height: 460px;
	overflow: hidden;
	position: relative
}

#big_banner_pic {/*放图片的框下的ul*/
	width: auto;
	height: 460px;
	display: block;
	overflow: hidden;
	position: absolute
}

#big_banner_pic li {/*放每张图片的li*/
	width: 1226px;
	height: 460px;
	float: left;
	cursor: pointer
}

/*轮播图组件*/
#big_banner_change_wrap {/*放轮播图组件的框*/
	width: 991px;
	height: 460px;
	top: 0;
	right: 0;
	position: absolute
}

#big_banner_change_wrap ul {/*放索引点的ul*/
	display: block;
	float: right;
	margin-right: 10px;
	margin-top: 430px
}

#big_banner_change_wrap ul li {/*放索引圆点的li*/
	width: 5px;
	height: 5px;
	border: 2px solid #333;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #9D9D9D;
	float: left;
	margin-right: 10px;
	opacity: .6;
	-moz-opacity: .6;
	-webkit-opacity: .6;
	cursor: pointer
}

#big_banner_change_wrap ul li:first-child {/*第一个索引圆点li的默认样式*/
	background: #FCFCFC
}

#big_banner_change_wrap ul li:hover {/*放索引圆点的li的鼠标移入效果*/
	background: #FCFCFC
}

#big_banner_change_next,
#big_banner_change_prev {/*轮播图左右点击按钮的公共样式*/
	width: 50px;
	height: 50px;
	opacity: .6;
	-moz-opacity: .6;
	-webkit-opacity: .6;
	font-family: "宋体";
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0
}

#big_banner_change_prev {/*向左按钮的特定样式*/
	float: left;
	margin-top: 205px;
}

#big_banner_change_next {/*向右按钮的特定样式*/
	float: right;
	margin-right: 0;
	margin-top: 205px;
}

#big_banner_change_next:hover,
#big_banner_change_prev:hover {/*两按钮的鼠标移入效果*/
	background: #424242;
}


/*侧边栏菜单和他的隐藏框*/
#banner_menu_wrap {/*侧边栏菜单框*/
	width: 235px;
	height: 100%;
	float: left;
	position: absolute;
	z-index: 100;
	background: rgba(0, 0, 0, .8)
}

#banner_menu_wrap>li {/*所有的菜单li*/
	position: relative;
	width: 100%;
	height: 42px;
	line-height: 40px;
	cursor: pointer
}

#banner_menu_wrap>li:first-child {/*第一个菜单li*/
	margin-top: 20px
}

#banner_menu_wrap>li:hover {/*移入菜单变色*/
	background: #FF6700
}

#banner_menu_wrap>li>a:first-child {/*菜单第一个a标签*/
	font-size: 13px;
	color: #FFF;
	margin-left: 30px;
	display: block;
	float: left
}
			
#banner_menu_wrap>li:hover .banner_menu_content {/*移入菜单隐藏框显示*/
	display: block
}

.banner_menu_i { /*菜单右侧小箭头*/
	display: block;
	float: right;
	font-size: 20px;
	font-family: "宋体";
	margin-right: 20px;
	color: #9D9D9D;
	font-weight: 700
}

.banner_menu_content {/*菜单隐藏框*/
	position: absolute;
	top: 0;
	width: auto;
	height: 459px;
	left: 235px;
	display: none;
	background: #FFF;
	border-top: 1px solid #E0E0E0;
	box-shadow: 0 6px 5px #D0D0D0
}

.banner_menu_content_ul {/*菜单隐藏框的ul,一个ul为一列,一列六个li.*/
	float: left;
	width: 280px
}

.banner_menu_content li {/*菜单隐藏框的ul下的li*/
	width: 250px;
	height: 40px;
	padding: 18px;
	display: block;
	float: left
}

.banner_menu_content li a {/*菜单隐藏框的ul下的li下的文字*/
	display: block;
	float: left;
	margin-left: 5px;
	font-size: 12px;
	color: #424242
}

.banner_menu_content li a:hover {/*菜单隐藏框的ul下的li下的文字移入效果*/
	color: #FF6700
}

.banner_menu_content li span {/*菜单隐藏框的ul下的li下的选购按钮*/
	width: 59px;
	height: 25px;
	float: right;
	margin-top: 5px;
	border: 1px solid #FF6700;
	color: #FF6700;
	font-size: 12px;
	line-height: 24px;
	text-align: center
}

.banner_menu_content li span:hover {/*菜单隐藏框的ul下的li下的选购按钮移入效果*/
	background: #FF6700;
	color: #FFF
}



/*小产品静态*/
#head_other_wrap { /*小产品框*/
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 20px
}

#head_other {/*左边小产品6项功能框*/
	width: 235px;
	height: 170px;
	float: left;
	background: #5f5750;
	position: relative
}

#head_other_bg {/*左边小产品6项功能框里面的边框ul*/
	width: 100%;
	height: 170px;
	display: block;
	position: relative
}

#head_other_ul {/*左边小产品6项功能框里面项目ul*/
	width: 100%;
	height: 170px;
	display: block;
	top: 0;
	left: 0;
	position: absolute
}

#head_other_bg:before {
	content: "";
	width: 215px;
	height: 150px;
	position: absolute;
	display: block;
	border: 10px solid #5f5750
}

#head_other_bg:after {
	content: "";
	width: 70px;
	height: 1px;
	position: absolute;
	top: 75px;
	left: 72px;
	display: block;
	background: #78726d;
	border: 10px solid #5f5750
}

#head_other_bg li,
#head_other_ul li {
	height: 85px;
	width: 78px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

#head_other_bg li:nth-child(1),
#head_other_bg li:nth-child(2),
#head_other_bg li:nth-child(3) {
	border-bottom: 1px solid #78726d
}

#head_other_bg li:nth-child(2),
#head_other_bg li:nth-child(5) {
	border-left: 1px solid #78726d;
	border-right: 1px solid #78726d
}

#head_other_ul li a {
	font-family: "microsoft yahei";
	font-size: 10px;
	display: block;
	padding-top: 20px;
	color: #FFF;
	cursor: pointer;
	opacity: .9
}

#head_other_ul li a:hover {
	opacity: 1
}

#head_other_ad {
	width: 316px;
	height: 170px;
	float: left;
	display: block;
	margin-left: 14px
}



/*整列产品介绍轮播*/
#head_hot_goods_wrap {/*整列产品轮播大框*/
	width: 1226px;
	height: auto;
	margin: 25px auto
}

#head_hot_goods_title {/*放上面的名字和左右按钮框*/
	width: 100%;
	height: 60px;
	line-height: 60px
}

#head_hot_goods_title span,
.title_span { /*小明星文字样式*/
	font-family: "微软雅黑";
	font-size: 25px;
	font-weight: 100;
	color: #424242
}

#head_hot_goods_change {/*放按钮的框*/
	width: 102px;
	height: 25px;
	float: right;
	margin-top: 20px;
	margin-right: 0;
	position: relative;
	border: 1px solid #F0F0F0
}

#head_hot_goods_change:before {/*两个按钮之间的分割线*/
	content: "";
	width: 0;
	height: 25px;
	position: absolute;
	left: 50px;
	border-left: 1px solid #F0F0F0
}

#head_hot_goods_change span {/*左右按钮的公共样式*/
	width: 50px;
	height: 25px;
	display: block;
	float: left;
	box-sizing: border-box;
	font-size: 20px;
	font-family: "宋体";
	font-weight: 700;
	color: #BEBEBE;
	line-height: 25px;
	text-align: center;
	cursor: pointer
}

#head_hot_goods_change span:first-child {/*默认第一个按钮的字体样式*/
	color: #E0E0E0
}

#head_hot_goods_change span:hover {/*两按钮的移入效果*/
	color: #FF6700
}

#head_hot_goods_content {/*图片列表框*/
	width: 1226px;
	height: 345px;
	overflow: hidden;
	position: relative
}

#head_hot_goods_content ul {/*图片列表框下的ul*/
	width: 2500px;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s
}

#head_hot_goods_content li {/*放图片的li*/
	width: 237px;
	height: 300px;
	padding-top: 20px;
	float: left;
	box-sizing: border-box;
	background: #fafafa;
	text-align: center;
	margin-right: 10px;
	border-top: 1px solid #FF6700;
	cursor: pointer
}

#head_hot_goods_content li a {/*li里面的文字公共样式*/
	display: block;
	margin: 15px auto;
	font-size: 13px;
	color: #333
}

#head_hot_goods_content li a:last-child {/*底层的文字样式*/
	color: #B0B0B0;
	font-size: 12px
}

/*设置图片框的上边框颜色*/
#head_hot_goods_content li:nth-child(1),
#head_hot_goods_content li:nth-child(6) {
	border-top-color: red
}

#head_hot_goods_content li:nth-child(2),
#head_hot_goods_content li:nth-child(7) {
	border-top-color: #6495ed
}

#head_hot_goods_content li:nth-child(3),
#head_hot_goods_content li:nth-child(8) {
	border-top-color: #adff2f
}

#head_hot_goods_content li:nth-child(4),
#head_hot_goods_content li:nth-child(9) {
	border-top-color: #ff4500
}

#head_hot_goods_content li:nth-child(10),
#head_hot_goods_content li:nth-child(5) {
	border-top-color: #6a5acd
}



/*大展示区*/
#main_show_box { /*大展示框*/
	width: 100%;
	background: #f5f5f5;
	padding-bottom: 80px
}

.floor {/*楼层公用样式*/
	width: 1228px;
	margin: 0 auto;
	padding: 1px;
	overflow: hidden
}

.floor_head {/*楼层头部介绍公用样式*/
	width: 100%;
	height: 58px;
	padding-top: 1px;
	line-height: 65px;
	margin-top: 25px
}

#floor_1_more {/*头部右侧样式*/
	width: 105px;
	height: 30px;
	display: block;
	float: right;
	margin-top: 20px;
	margin-right: 0;
	line-height: 30px;
	cursor: pointer
}

#floor_1_more a:first-child {/*第一个a*/
	font-size: 18px;
	font-weight: 100
}

#floor_1_more a:last-child {/*第二个a*/
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 10px;
	background: #9D9D9D;
	font-family: "宋体";
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	line-height: 20px;
	color: #FFF
}

#floor_1_more:hover a:first-child {/*头部右侧移入效果*/
	color: #FF6700
}

#floor_1_more:hover a:last-child {/*头部右侧移入效果*/
	background: #FF6700
}
/*主体图片*/
.floor_goods_wrap {/*放9张图片的大div*/
	width: 1240px;
	background: #6495ED
}

.floor_goods_wrap_li {/*放图片的li*/
	width: 234px;
	height: 300px;
	float: left;
	position: relative;
	text-align: center;
	margin-right: 13px;
	margin-top: 10px;
	background: #FFF;
	overflow: hidden;
	cursor: pointer
}

.up_animate {/*放图片li的css3动画*/
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s
}

.floor_goods_wrap_li a {/*li下面所有a标签设置为块级元素*/
	display: block
}

.floor_goods_wrap_li:nth-child(5) {/*第五个li*/
	margin-right: 0
}

#floor_1 ul li:first-child {/*第一个li*/
	height: 610px;
	overflow: hidden
}

.up_animate:hover {/*鼠标移入li的时候动画变化*/
	-webkit-transform: translate3d(0, -3px, 0);
	transform: translate3d(0, -3px, 0);
	box-shadow: 0 5px 8px #E0E0E0;
}

.floor_goods_tit {/*产品名称*/
	font-size: 15px;
	margin-top: 20px
}

.floor_goods_txt {/*产品介绍*/
	font-size: 12px;
	color: #BEBEBE;
	margin-top: 5px
}

.floor_goods_price {/*产品价钱*/
	font-size: 15px;
	color: #FF6700;
	margin-top: 15px
}

.floor_goods_small_bottom,
.floor_goods_small_top {/*二楼最后两个li的高度*/
	height: 145px
}

.floor_goods_small_top>a {/*二楼倒数第二个li下面的a*/
	width: 80px;
	height: 80px;
	float: right;
	margin-right: 10px;
	margin-top: 30px
}

.floor_goods_small_bottom span,
.floor_goods_small_top span {/*二楼最后两个li里面span样式*/
	display: block;
	float: left;
	text-align: left;
	margin-left: 10px;
	margin-top: 25px
}

.floor_goods_small_bottom b {/*二楼最后一个li里面的b标签样式*/
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 25px;
	margin-top: 30px;
	border-radius: 30px;
	border: 3px solid #FF6700;
	font-size: 25px;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
	color: #FF6700
}

.floor_list {/*二楼头部右侧*/
	width: auto;
	height: 25px;
	display: block;
	float: right;
	margin-top: 30px
}

.floor_list li {/*右侧小面的li*/
	float: left;
	width: auto;
	height: 25px;
	line-height: 25px;
	display: block;
	margin-left: 20px;
	cursor: pointer;
	border-bottom-color: rgba(255, 103, 0, 0);
	border-bottom-style: solid;
	border-bottom-width: 3px;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s
}

.floor_list li:hover {/*右侧小面的li鼠标移入效果*/
	border-bottom-color: rgba(255, 103, 0, 1);
	color: #FF6700
}

.floor_goods_mask {/*向上滑动的框*/
	position: absolute;
	width: 194px;
	height: 0;
	bottom: 0;
	opacity: 0;
	z-index: 999;
	padding: 8px 20px;
	background: #FF6700;
	text-align: left;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s
}

.floor_goods_mask span:first-child {/*隐藏框的第一个span*/
	font-size: 12px;
	color: #FFF;
	display: block
}

.floor_goods_mask span:last-child {/*隐藏框的第二个span*/
	font-size: 10px;
	color: #D0D0D0;
	display: inline-block
}

.floor_goods_wrap_li:hover .floor_goods_mask {/*当鼠标移入图片li隐藏框显示*/
	height: 55px;
	opacity: 1
}


/*三楼*/
.hot_recommend {/*放图片和文字说明的方框*/
	width: 295px;
	height: 380px;
	float: left;
	margin-right: 12px;
	background: #FFF;
	cursor: pointer
}

.hot_recommend_txt {/*放字体说明的框*/
	padding: 20px
}

.hot_recommend_txt>a {/*框里面的第一层子集a标签*/
	display: block;
	font-size: 14px;
	line-height: 22px
}

.hot_recommend_txt>a:nth-child(3) {/*框里面的第一层子集a标签中的第三个a标签*/
	font-size: 12px;
	color: #D0D0D0
}

.hot_recommend_txt span {/*字体框里面的span*/
	display: block;
	margin: 15px
}

.hot_recommend_txt span a {/*span下面的a标签*/
	margin: 5px;
	font-size: 14px
}

.hot_recommend_txt span a:last-child {/*span下面的末尾的a标签*/
	color: #FF6700
}


/*四楼*/
#vido_box {/*放四个视频的框*/
	width: 1230px;
	height: 285px
}

.vido_wrap {/*放视频+说明的框*/
	width: 295px;
	height: 285px;
	float: left;
	text-align: center;
	margin-right: 12px;
	background: #FFF;
	position: relative;
	cursor: pointer
}

.vido_i {/*视频暂停符号*/
	position: absolute;
	display: block;
	width: 60px;
	height: 40px;
	top: 68px;
	left: 117.5px;
	font-size: 35px;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	border: 2px solid #FFF;
	border-radius: 5px
}

.vido_wrap:hover .vido_i {/*鼠标移入到视频框的时候暂停标志变色*/
	border-color: #FF6700;
	background: #FF6700
}

.vido_tit {/*标题文字说明*/
	font-size: 14px;
	display: block;
	margin-top: 20px
}

.vido_tit:hover {/*文字移入效果*/
	color: #FF6700
}

.vido_txt {/*具体文字说明*/
	font-size: 12px;
	color: #BEBEBE;
	display: block;
	margin-top: 15px
}

/*视频弹框*/
#vido_div {/*弹框*/
	width: 907px;
	position: fixed;
	top: -100%;
	left: 0;
	z-index: 1200;
	opacity: 0;
	box-shadow: 0 0 20px #D0D0D0
}

.vido_div_tit {/*弹框头部标题*/
	width: 887px;
	height: 50px;
	font-size: 18px;
	background: #F5F5F5;
	line-height: 50px;
	padding-left: 20px
}


/*尾部*/
#foot_box {/*尾部大框*/
	width: 100%;
	height: 280px
}

#foot_wrap {/*尾部上半栏框*/
	width: 1226px;
	margin: 0 auto;
	overflow: hidden
}

.foot_top {/*上半栏头部*/
	width: 100%;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #BEBEBE
}

.foot_top ul {/*头部里面的ul*/
	height: 100%;
	width: 80%;
	margin: 0 auto
}

.foot_top li {/*头部ul里面的li*/
	float: left;
	font-size: 15;
	color: #9D9D9D;
	cursor: pointer
}

.foot_top li:hover {/*li鼠标移入效果*/
	color: #FF6700
}

.font_top_i {/*li之间的分割线*/
	margin: 0 50px;
	color: #E0E0E0;
	font-size: 25px;
	font-family: "宋体";
	font-weight: 100
}

.foot_bottom_l {/*上半栏的下边的左侧框*/
	height: 160px;
	margin-top: 50px;
	float: left
}

.foot_bottom_l dl {
	float: left;
	margin-right: 100px
}

.foot_bottom_l dt {
	font-size: 15px;
	margin-bottom: 30px
}

.foot_bottom_l dd {
	font-size: 13px;
	margin-top: 15px;
	color: #BEBEBE;
	cursor: pointer
}

.foot_bottom_l dd:hover {
	color: #FF6700
}

.foot_bottom_r {/*上半栏的下边的右侧框*/
	height: 120px;
	margin-top: 50px;
	float: right;
	margin-right: 0;
	text-align: center;
	padding: 0 60px;
	border-left: 1px solid #BEBEBE
}

.foot_bottom_r a:first-child {
	font-size: 20px;
	color: #FF6700;
	display: block;
	margin-bottom: 10px
}

.foot_bottom_r a:nth-child(2) {
	font-size: 13px;
	display: block;
	margin-bottom: 5px
}

.foot_bottom_r a:nth-child(3) {
	font-size: 13px;
	display: block;
	margin-bottom: 15px
}

.foot_bottom_r span {
	display: block;
	width: 120px;
	height: 30px;
	color: #FF6700;
	font-size: 13px;
	cursor: pointer;
	background: #FFF;
	line-height: 30px;
	border: 1px solid #FF6700
}

.foot_bottom_r span:hover {
	color: #FFF;
	background: #FF6700
}

.foot_note_box {
	width: 100%;
	height: 200px;
	background: #fafafa
}

.foot_note_wrap {
	width: 1226px;
	margin: 0 auto;
	overflow: hidden
}

.foot_note_con {
	width: 800px;
	height: 50px;
	margin-top: 15px
}

.foot_logo {
	width: 38px;
	height: 38px;
	display: block;
	background: #FF6700;
	float: left
}

.foot_note_txt {
	display: block;
	height: 50px;
	width: 750px;
	float: left;
	margin-left: 10px
}

.foot_note_txt a {
	font-size: 12px;
	color: #757575
}

.foot_note_txt h {
	font-size: 13px;
	margin: 0 5px
}

.foot_note_txt a:last-child {
	font-size: 10px;
	color: #b0b0b0
}

.back_top {
	font-size: 12px;
	color: #FF6700;
	display: block;
	float: right;
	margin-right: 20px
}